<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <div class = "container">
    <div class = "nav-wrapper">
      <%- include("./partials/nav.ejs") %>
    </div>
  <div class = "results">
    <div class  = "results-inner">
      <h1 class = "results-heading">Results of <span class = "darken"><%= blog.title %></span>: <span id = "color"><%= blog.body %></span></h1>
    
      <h2 id = "status"></h2>
      <hr>
      <p id = "status-explanation"></p>
  
      <br>
      <p class = "felt">How you Felt: </p>
      <p><%= blog.snippet %></p>
    </div>


    <div class = "results-inner-2">
      <a href = "/" class = "redirect"><i class="fas fa-arrow-left"></i> Home Page</a>
      
      <a class="delete" data-doc="<%= blog._id %>">
        <img src="/trashcan.svg" alt="delete icon">
      </a>
      
    </div>
 
  </div>
  

</div> 

<%- include("./partials/footer.ejs") %>


  
  <script>
    const trashcan = document.querySelector('a.delete');
    const color = document.querySelector('#color');
    const num = parseInt(color.innerHTML, 10);
    const status = document.querySelector('#status');
    const explanation = document.querySelector('#status-explanation');
    // console.log("color is " + color);
    // console.log(typeof color);

    if(num > 10){
      color.style.color = "#e34327";
      status.style.color = "#e34327";
      status.innerHTML += `Status: Excessive/Unhealthy (${num})`;
      explanation.innerHTML += "You exhibit multiple bad habits that may be due to stress and bad mental health. " + 
      "It is encouraged that you see your doctor/require medical assistance in order" + 
      "to ensure that your mental health is in good shape.";

    }
    else if (num > 5){
      color.style.color = "#c4c225";
      status.style.color = "#c4c225";
      status.innerHTML += `Status: Moderate (${num})`;
      explanation.innerHTML += "You exhibit some bad habits. Please be cautious of your actions" + "\n";
      "when going through any stresful events in your life. "
      
    }
    else{
      color.style.color = "#32e361";
      status.style.color = "#32e361";
      status.innerHTML += `Status: Healthy (${num})`;
      explanation.innerHTML += "You are in good shape! You have exhibited little to no bad habits on this day." + 
      " Keep maintaining good mental health, good sleep schedules, eating and exercise routines, etc.";
      "in order to keep yourself well maintained."
    }


    trashcan.addEventListener('click', (e) => {
      const endpoint = `/blogs/${trashcan.dataset.doc}`;

      fetch(endpoint, {
        method: 'DELETE',
      })
      .then(response => response.json())
      .then(data => window.location.href = data.redirect)
      .catch(err => console.log(err));
    });
    
  </script>
</body>
</html>